* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: cornflowerblue;
  align-items: center;
}
header img {
  max-width: 150px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  padding: 20px;
}
header nav ul li {
  margin: 5px;
}
header nav ul li a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
header nav ul li a:hover {
  color: black;
  margin: 5px;
  transition: 1s;
}

footer {
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
footer img {
  max-width: 150px;
}
footer p {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.ayuda {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}
.ayuda div h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.ayuda div p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
.ayuda div a {
  text-decoration: none;
  background-color: cornflowerblue;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  display: block;
  margin: 10px auto 0;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
}

.comment-section {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  flex-direction: column;
}
.comment-section h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.comment-section #comment-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  resize: vertical;
}
.comment-section .terminos {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.comment-section .terminos input {
  margin-right: 10px;
}
.comment-section #entrega-button {
  background-color: cornflowerblue;
  color: white;
  border: none;
  padding: 10 px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

* {
  margin: 0;
  padding: 0;
}

.alquiler-img-prin img {
  width: 100%;
  height: 350px;
  display: block;
}

.grid-section .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}
.grid-section .grid-container .grid-item {
  text-align: center;
}
.grid-section .grid-container .grid-item img {
  width: 50%;
  height: 500px;
  margin-top: 10px;
}
.grid-section .grid-container .grid-item p {
  font-family: Arial, Helvetica, sans-serif;
}

.lorem1 {
  text-align: center;
  text-decoration: solid;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
}

.carousel-item img {
  width: 100%;
  height: 700px;
  display: block;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}
.grid-container .grid-item {
  text-align: center;
}
.grid-container .grid-item img {
  width: 50%;
  height: 500px;
  margin-top: 10px;
}

.lorem1 {
  text-align: center;
  text-decoration: solid;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}
.grid-container2 .grid-item {
  text-align: center;
}
.grid-container2 .grid-item img {
  width: 50%;
  height: 500px;
  margin-top: 10px;
}

.venta-img-prin img {
  width: 100%;
  height: 350px;
  display: block;
}

.grid-section2 .grid-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}
.grid-section2 .grid-container2 .grid-item2 {
  text-align: center;
}
.grid-section2 .grid-container2 .grid-item2 img {
  width: 50%;
  height: 500px;
  margin-top: 10px;
}
.grid-section2 .grid-container2 .grid-item2 p {
  font-family: Arial, Helvetica, sans-serif;
}

.lorem2 {
  text-align: center;
  text-decoration: solid;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
}

.container-tarjeta {
  background-color: cornflowerblue;
  padding: 25px;
  margin-top: 50px;
  display: flex;
  border-radius: 10px;
}

.sobre-nosotros h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  width: 75%;
}
.sobre-nosotros p {
  font-family: Arial, Helvetica, sans-serif;
  width: 75%;
}

.tarjeta {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 8px 12px 17px -2px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 8px 12px 17px -2px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 8px 12px 17px -2px rgba(0, 0, 0, 0.63);
  transition: 1s;
}
.tarjeta:hover {
  transform: translate(-65px, 80px);
}
.tarjeta h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: black;
}
.tarjeta p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.tarjeta ul li {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 5px;
}

div {
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
